*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  src: url('../assets/Poppins-Regular.ttf');
  font-family: Poppins;
}

html,body{
  font-family: Poppins;
  background-color: rgb(248, 246, 246);
}
/* col-reset */
.col-1 { flex: none; width: calc(100% / 12 * 1) }  
.col-2 { flex: none; width: calc(100% / 12 * 2) }  
.col-3 { flex: none; width: calc(100% / 12 * 3) }  
.col-4 { flex: none; width: calc(100% / 12 * 4) }  
.col-5 { flex: none; width: calc(100% / 12 * 5) }  
.col-6 { flex: none; width: calc(100% / 12 * 6) }  
.col-7 { flex: none; width: calc(100% / 12 * 7) }  
.col-8 { flex: none; width: calc(100% / 12 * 8) }  
.col-9 { flex: none; width: calc(100% / 12 * 9) }  
.col-10 { flex: none; width: calc(100% / 12 * 10) }  
.col-11 { flex: none; width: calc(100% / 12 * 11) }  
.col-12 { flex: none; width: calc(100% / 12 * 12) }  

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .col-md-1 { flex: none; width: calc(100% / 12 * 1) }  
    .col-md-2 { flex: none; width: calc(100% / 12 * 2) }  
    .col-md-3 { flex: none; width: calc(100% / 12 * 3) }  
}


@media screen and (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}


/* header */
nav{
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}


nav ul{
  list-style-type: none;
  display: flex;
}
nav ul li{
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}


nav ul li a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

/* banner */
.heading{
  margin-bottom: 20px;
}

#banner{
  margin-top: 120px;
  height: 400px;
}

.banner-title{
  font-size: 1.5rem;
}
.banner-content{
  display: flex;
}

.banner-content img{
  width:80%;
}
.banner-category{
    margin-top: 100px;
}

/* thumnail  + content*/
.thumbnail {
  width: 100%;
  margin: 1.5rem 0;
}
.thumbnail img {
  width: 100%;
  height: 600px;
  max-height: 50vh;
  border-radius: .5rem;
  object-fit: cover;
}
.content p {
  margin-bottom: 1rem;
}

/* card-artitcle */
.articles {
  display: flex;
  flex-direction: column;
}
.articles .article-list {
  border-radius: 2px;
  padding:10px ;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.article-list img {
  border-radius: .5rem;
  height: 80px;
  width: 100%;
  object-fit: cover;
}
.news .article-list img {
  height: 150px;
  object-position: center center;
}
.news .article-list h6 {
  font-size: 1.5rem;
}
.news .the-excerpt {
  color: rgb(56, 56, 56);
}
.news .article-detail-information {
  margin-top: .5rem;
}
.article-list h6 {
  font-size: 1.1rem;
  color: #343434;
}
a {
  color: #232323;
}
.article-list .article-information {
  margin-left: 1rem;
}
.article-list .article-detail-information {
  font-size: .875rem;
}


/* footer */
footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding:0.2em;
  color: rgba(0, 0, 0, 0.6);
  align-items: center;
}
footer .social ul{
  display: flex;
  list-style: none;
}

footer .social ul li{
  margin: 0 10px;
}

footer .social ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
/* responsive breakpoint */

@media (max-width:600px){
  .banner-content{
    text-align: center;
    flex-direction: column;
  }
  footer{
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav{
    justify-content: center;
    flex-direction: column;
    height: 90px;
    box-sizing: border-box;
  }

  .baner-image{
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .sm-none {
      display: none;
  }
  .article-list {
      flex-direction: column !important;
  }
  .article-list img {
      height: 170px !important;
  }
  #news .article-list .image img {
      width: 100%;
      height: 300px;
  }
}